<!--<video #videoElement width="640" height="480" autoplay></video>-->
<!--<video controls>-->
<!--    <source src="/assets/video.mp4" type="video/mp4">-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->
<!--<video controls>-->
<!--    <source src="/stream?filename=video" type="video/h264"> &lt;!&ndash; Specify appropriate content type if needed &ndash;&gt;-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->

<!--<video controls>-->
<!--    <source src="/assets/video.h264" type="video/h264">-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->

<!--<video controls>-->
<!--    <source src="http://localhost:8080/stream/video" controls preload="none"> &lt;!&ndash; Specify appropriate content type if needed &ndash;&gt;-->
<!--    Your browser does not support the video tag.-->
<!--</video>-->

<video controls>
    <source src="http://localhost:8080/buffer/video" controls preload="none"> <!-- Specify appropriate content type if needed -->
    Your browser does not support the video tag.
</video>
