<nav>
    <a routerLink="/camera">camera</a>
    <br>
    <a routerLink="/recorder">recorder</a>
    <br>
    <a routerLink="/viewer">viewer</a>
    <br>
    <a routerLink="/mp4streamviewer">mp4 stream viewer</a>
    <br>
    <a routerLink="/h264streamviewer">H264 stream viewer</a>
    <br>
    <a routerLink="/hls">HLS player</a>
    <br>
    <a routerLink="/delayed-video">Delayed video</a>
    <br>
    <a routerLink="/delayed-video-mediarecorder">Delayed video with mediarecorder</a>
    <br>
    <a routerLink="/delayed-video-sourcebuffer">Delayed video with sourcebuffer</a>
    <br>
    <a routerLink="/delayed-video-sourcebuffer-canvasmirror">Delayed video with sourcebuffer canvas mirror</a>
</nav>

<br>
<br>

<router-outlet></router-outlet>
